/* ----------------------------- MEDIA QUERY ------------------------------- */
@media screen and (max-width:991px) {
    .footer-top {
        flex-direction: column-reverse;
        align-items: center;
    }

    .jumbo-right {
        display: none;
    }

    .jumbo-left-img-wrapper {
        display: block;
    }

    .jumbo-left h1 {
        font-size: 38px;
    }

    .jumbo-left p {
        font-size: 18px;
    }

    .jumbo-left ul {
        font-size: 17px;
    }
}