/* section-1 style */

#faq-section {
    padding-bottom: 0;

    p {
        padding: 0 80px 60px;
    }

    h1 {
        padding: 80px 80px 0;
    }

    #left_faq,
    #right_faq,
    h3 {
        font-size: 24px;
    }

    button i {
        font-size: 30px;
    }
}

#left_faq {
    color: $bool_blue;
    padding: 0 30px;
}

#right_faq {
    color: $white;
    padding: 0 30px;
}

#left_faq {
    background-color: $bool_gray;
    color: $bool_blue;

    h2 {
        padding: 40px 0 0 20px;
    }
}

#right_faq {
    background-color: $bool_blue;
    color: white;

    h2 {
        padding: 40px 0 0 20px;
    }
}

#leftFaqAccordion {
    h3 button {
        color: $bool_blue;
    }
}

#rightFaqAccordion {
    h3 button {
        color: $white;
    }
}

#leftFaqAccordion,
#rightFaqAccordion {
    .card,
    .card-header {
        background-color: inherit;
        border: none;
    }

    h3 button {
        background-color: none;
        position: relative;
        width: 100%;
        font-size: 24px;
        padding-left: 0;
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }

        i {
            position: absolute;
            top: 10px;
            right: -20px;
        }
    }
}
/* end section-1 style */