/* section-1 style */
#faq-section {
    #left_faq,
    #right_faq,
    p {
        padding: 0 80px;
    }

    h1 {
        padding: 80px 80px 0;
    }

    h3 {
        font-size: 24px;
    }

    button i {
        font-size: 30px;
        color: $bool_blue;
    }
}

#faq-section {
    padding-bottom: 0;
}

#left_faq {
    background-color: $bool_gray;
    color: $bool_blue;

    h2 {
        padding-top: 40px;
    }
}

#right_faq {
    background-color: $bool_blue;
    color: white;
    padding-top: 40px;

    h2 {
        padding-top: 40px;
    }
}
/* end section-1 style */