/* section-1 style */

#home-section-1 {
    background-color: $bool_blue;
    color: white;

    div {
        padding: 0 30px;
    }

    p:first-of-type {
        font-size: 49px;
        margin-bottom: 0;
    }

    p:last-of-type {
        font-size: 18px;
    }
}
/* end section-1 style */